.posicion:nth-child(2), .posicion:nth-child(3){
  position: relative;
  top: -40px;

}

.mi_Card{
  height: 50vh; 
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  border-radius: 15px;
  border: 1px solid var(--sombras-color);
  opacity: 0.7;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s;
}

.mi_Card img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: all 0.4s;
  position: absolute;
  scale: 1.2;
  object-fit: cover;
  animation: paneo 20s infinite;
}

.mi_Card:hover img{
  opacity: 1;
  scale: 1.0;
}



.mi_Card h2{
  color: #fff;
  text-shadow: 0 0 15px var(--sombras-color);
  font-size: 2.5rem;
}

.card_body{
  width: 100%;
  height: 100%;
  background-color: var(--card-color);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s;
}

.mi_Card:hover .card_body{
  background-color: transparent;
  backdrop-filter: blur(0px);
}
.mi_Card:hover{
  opacity: 1;
  scale: 1.16;
  border-radius: 55px;
}



@media (max-width: 768px) {
  .mi_Card{
    width: 100%;
    max-height: none;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .posicion:nth-child(2), .posicion:nth-child(3){
    top: 0px;
  }

  
}

@media (max-width: 1366px) {
  .mi_Card{
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .mi_Card:nth-child(even){
    margin-top: 0px;
    margin-bottom: 50px;
    flex-direction: row-reverse;
  }
  
}

@keyframes paneo {
  0% {
    object-position: left;
  }
  50% {
    object-position: right;
  }
  100% {
    object-position: left;
  }
}

