.main-card{
    
    background-color: rgba(185, 185, 185, 0.527);
    backdrop-filter: blur(5px);
    height: 50vh;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-card img{
    height: 50%;
    border-radius: 50%;
    position: relative;
    animation: floting infinite alternate 1.5s ease-in-out;
}

.main-card ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-card li{
    width: 300px;
    text-align: center;
    height: 3rem;
    position: relative;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s all;
}

.main-card li:hover{
    font-size: 1.2rem;
    text-shadow: 0 0 5px white;
}

.main-card span{
    background-color: aliceblue;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 15px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition:  width .3s, height .3s;
}

.main-card li:hover span{
    width: 80%;
    height: 5px;
}

.info-container{
    background-color: rgba(185, 185, 185, 0.527);
    height: 75vh;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 0 10px 5%;
    box-sizing: border-box;
    position: relative;
}

.info-container div{
    overflow-y: auto;
    padding-right: 5%;
    margin-right: 10px;
}

.info-container h3{
    font-size: 3rem;
    color: var(--tittle-color);
    text-shadow: 0 0 15px var(--sombras-color);
    margin: 0 0 20px 5%;
    text-align: center;
    transition: .2s;
}
.info-container h4{
    font-size: 2rem;
    color: var(--tittle-color);
    text-shadow: 0 0 15px var(--sombras-color);
    transition: .2s;
}

.info-container hr{
    width: 66%;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 5px;
    margin: 0 auto 0 auto;
    transition: all 0.2s;
}

.info-container > hr{
    width: 90%;
}

.info-container p{
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 1rem 0;
    transition: .2s;
    z-index: 90;
}

.blur{
    z-index: 100;
    background-color: rgba(247, 245, 243, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    left: 0;
    top: 0;
    animation: focus .5s ease ;
}

@keyframes floting {
    from {top: -10%;
        box-shadow:     0px 51px 155px -28px rgb(80, 80, 80);
-webkit-box-shadow:     0px 51px 155px -28px rgb(80, 80, 80);
-moz-box-shadow:    0px 51px 155px -28px rgb(80, 80, 80);
        }
    to{
        top: -12%;
        box-shadow:     0px 50px 199px -8px rgb(80, 80, 80);
-webkit-box-shadow:     0px 50px 199px -8px rgb(80, 80, 80);
-moz-box-shadow:    0px 50px 199px -8px rgb(80, 80, 80);
    }
}

@keyframes blur{
    from{
        backdrop-filter: blur(0px);
    }
    to{
        backdrop-filter: blur(30px);
    }
}

@keyframes focus{
    from{
        backdrop-filter: blur(30px);
    }
    to{
        backdrop-filter: blur(0px);
    }
}
