.footer{
    background: var(--footer-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    border: none;
    border-radius: 15px 15px 0 0 ;
    transition: 1s;
    z-index: 10000000000000000;
}
.ul_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
.li{
    font-size: 2rem;
    padding: .5rem;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    transition: 0.4s;
}

.li:hover:nth-child(1){
    color: rgb(244, 65, 95);
    text-shadow: 0 0 55px  rgb(244, 65, 95);
    scale: 1.3;
    transform: translateY(-10px);
}
.li:hover:nth-child(2){
    color: rgb(3, 76, 222);
    text-shadow: 0 0 55px  rgb(30, 72, 156);
    scale: 1.3;
    transform: translateY(-10px);
}
.li:hover:nth-child(3){
    color: rgb(0, 75, 205);
    text-shadow: 0 0 55px  rgb(0, 75, 205);
    scale: 1.3;
    transform: translateY(-10px);
}
.li:hover:nth-child(4){
    color: rgb(18, 210, 69);
    text-shadow: 0 0 55px  rgb(18, 210, 69);
    scale: 1.3;
    transform: translateY(-10px);
}